@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>내 밴드</h3>
</div>

<div class="row" ng-app="main" ng-controller="BandController as band">
<section class="joinBandList">
<ul class="bandList">

    <li ng-repeat="banditem in band.list">
        <a href="#">
            <div>
                <div style="background-color:#fff; height:145px;">band이미지</div>
                <div style="background-color:{{banditem.color}}; height:15px;"></div>
                <div style="text-align:center;">
                    <span>{{banditem.name}}</span>
                    <span>{{banditem.cost}}</span>
                </div>
            </div>
        </a>
    </li>

    <li><a><div style="background-color:#faff85; height:160px;">band이미지</div><div style="text-align:center;"><span>새로운 밴드 생성</span></div></a></li>
</ul>
</section>
</div>