@using Models.Group.Model;
@{
    ViewBag.Title = "GroupInfo";
}

<div class="groupInfo">
    <ul>
        <li>
            <a href="">
                <img id="groupImg" src="@Model" />
            </a>
            <center><a href="">그룹이름</a></center>
        </li>
    </ul>
</div>
