@model IList<Models.Board.Model.BoardItem>
@{
    ViewBag.Title = "GroupInfo";
}

<div class="groupInfo">
    <ul>
        <li>
            <a href="#">
                <img id="bandImg" src="~/Content/img/plus.png"/>
            </a>
            <span>그룹이름</span>
        </li>
    </ul>
</div>
